body{ 
    font-family: serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header{
	width: 100%;
	height: 100px;
	background-color: white;
}
header nav{
	float: right;
	overflow: none;
	width: 800px;
	margin-top:40px;
}
header h1{
	float: left;
	font-variant: small-caps;
	font-size: 35px;
}
header img{
	float: left;
	background: black;
	width: 150px;
	margin:8px 12px 13px 12px;

}
h1{
	font-variant: small-caps;
	font-size: 35px;	
}
nav a{
	width: 10%;
	height: 10%;
	padding: 1%;
	margin: 5%;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 10%;
}
nav a:hover{
	color: red;
}
.current{
	color: red;
}
#out{
    display: none;
}
#in{
    display: inline;
}
footer{
    /*background:linear-gradient(#d8b5ff,#1eae98);*/
    background-color: #f5e877;
    color: black;
    font-size: 20px;

}
.fa-instagram{
    color: #e84393;
}
.fa-twitter{
    color: #0097e6;
}
.fa-facebook{
    background-color: #4267B2;
    color: #FFFFFF;
    width: 35px;
    text-align: right;
    border-radius: 5px;
}
footer a{
    margin:10px;
    position: relative;
    top: 12px;
}
span{
    color: red;
}

a{
text-decoration:none;
}

/*Index Page style starts*/
.first{
	height:800px;
}
.first::before{
	content: "";
	position: absolute;
	top:100px;
	left:0px;
	bottom:-150px;
	right:0px;
	opacity: 0.85;
	background-image: url("../images/charity1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.first a{
	position: absolute;
	text-decoration: none;
	top: 380px;
	left: 600px;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    padding-top: 20px;

}
.first a:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;

}
blockquote{
	position: absolute;
	top: 180px;
	font-size: 50px;
	font-style: italic;
	font-weight: bold;
}
article p{
	display: inline-block;
	width: 600px;
	float: left;
	font-size: 30px;
    margin-left: 25px;
}
article img{
	width: 500px;
	height: 500px;
	border:black solid; 
	display: inline-block;
	margin-left: 150px;

}
/*Index Page style end*/

/*Login Page style starts*/

#adminbody{

	background-image: url(../images/pic1.jpg);
    background-size: cover;
    background-position: center;
}
#userbody{
    background-image: url(../images/pic3.jpg);
    background-size: cover;
    background-position: center;
}

.loginbox{
    width: 400px;
    height: 600px;
    color: black;
    top: 100px;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    background-color:rgba(255,255,255,0.5);
    border: solid black 2px;
    border-radius: 10px;

}
#adminbody div{
    height: 425px;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 150px;
}


.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: black;
}

.loginbox a:hover
{
    color: #ffc107;
}

#middle{
	padding-left: 140px;
	font-size: 20px;
}
#userlogin{
    display: block;
}
#usersignup{
    display: none;
}
/*Login Page style ends*/

/*Join Page style starts*/

#volunteerbody{
    height: 1300px;
    background-image: url(../images/pic4.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.volunteerbox{
    padding-left:100px;
    width: 900px;
    height: 1050px;
    position: absolute;
    top:180px;
    left: 23%;
    color: black;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.5);
    border: solid black 2px;
    border-radius: 10px;
}

.volunteerbox h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.volunteerbox input{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;

}
.volunteerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 24%;
}
.volunteerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.volunteerbox textarea{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;
}
.volunteerbox select{
	border: none;
    border-bottom: 1px solid #000000;
    background:transparent;
    outline: none;
    color: black;
    font-size: 16px;
}
.volunteerbox option{
    color: #000000;
}
#volunteerbody p{
    font-size:25px;
    width: 1500px;
    position: absolute;
    left: 10px;
    top: 100px; 
    bottom: 0px;
    right: 0px;
}
#volunteerbody footer{
	position: relative;
	top: 1150px;
	clear: both;
}
/*Join Page style ends*/

/*About us Page style starts*/

.aboutbox {
	height: 1050px;
}
#aboutusbody::before{
    height: 1050px;
	content: "";
	background-image: url(../images/pic5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: -200px;
    left: 0px;
}
.aboutbox div {
	font-weight: bold;
	top: 120px;
	width: 100%;
	position: absolute;
	font-size: 30px;

}
details{
    display: block;
    font-weight: 
}
details summary{
    font-weight: bold;
    width: 1400px;
    display: block;
}
details p{

    font-weight: normal;
    width: 1400px;
    display: block;
}
details a{
    text-decoration: none;
    font-size: 30px;
    color: red;
}

/*About us Page style ends*/

/*Donate now Page style start */

.things{
    display: inline-block;
    width: 525px;
    height: 550px;
    border:black dotted; 
    margin-left: 125px;
    margin-bottom: 50px;

}
.itemsname {
    display: inline-block;
    position: relative;
    left: -300px;
    bottom:15px;
    margin: 0;
    padding:0;
    font-size: 20px;   
}
#info{
    display: inline-block;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 10px;
}
.things:hover{

    border:red solid;
    opacity: 50%; 
}
#info1{
    display: none;
    position: absolute;
    top: 400px;
    left: 215px;
    color: black;
    font-size: 60px;

}
#info2{
    display: none;
    position: absolute;
    top: 400px;
    left:935px;
    color: black;
    font-size: 60px;

}
#info3{
    display: none;
    position: absolute;
    top: 1000px;
    left: 215px;
    color: black;
    font-size: 60px;

}
#info4{
    display: none;
    position: absolute;
    top: 1000px;
    left: 935px;
    color: black;
    font-size: 60px;

}
#donateform{
    display: none;
}
#donatebody{
    background-size: cover;
    background-position: top;
}
#donatebody footer{
    position: absolute;
    top: 0px;
    width: 100%;
    top:1450px;
    
}
#donateform div{
top: 200px;
height: 1100px;
}
#donateform div{
    color: black;
}
#donateform p{
    color: white;
    font-size:25px;
    width: 1500px;
    position: absolute;
    left: 10px;
    top: 100px; 
    bottom: 0px;
    right: 0px;
}
/* Donate now Page style ends */

/* Admin only Page style starts */

#Vimg{
    border:black dotted; 
    position: absolute;
    top:170px;
    left: 200px;
    width: 400px;
    height: 500px;
}
#Dimg{
    border:black dotted; 
    position: absolute;
    top:170px;
    left: 900px;
    width: 400px;
    height: 500px;
}
#Vinfo{

    position: absolute;
    top:660px;
    left: 320px;

}
#Dinfo{
    position: absolute;
    top:660px;
    left: 1050px;
}
#Vimg:hover{
    border:red solid;
    opacity: 50%; 
}
#Dimg:hover{
    border:red solid;
    opacity: 50%; 
}
#Ainfo1{
    display: none;
    position: absolute;
    top: 350px;
    left: 220px;
    color: black;
    font-size: 60px;

}
#Ainfo2{
    display: none;
    position: absolute;
    top: 350px;
    left: 925px;
    color: black;
    font-size: 60px;

}
#adminPagebody footer{
    position: absolute;
    top: 0px;
    width: 100%;
    top:700px;  
}
/* Admin only Page style ends */

/* Volunteer Info and Donation Info Page style starts */

table {
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 20px;

}
th {
border: solid black 2px;
text-align: center;
background-color: #588c7e;
color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #cfcfcf;
}

/* Volunteer Info and Donation Info Page style ends */
